body {
	background: white;
	margin: 0;
}

p {
	font-family: Helvetica;
	color: #848484;
	font-size: 16px;
	line-height: 1.5;
}

p.center {
	text-align: center;
	font-family: Raleway;
	padding-top: 44px;
	color: black;
}

h3 {
	font-family: Raleway;
	
}

h4 {
	font-family: Raleway;
	color: black;
	text-align: center;
}


/* Common styles */




.push-left {
	float: left;

}

.push-right {
	float: right;
}

.center-block {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.full-width {
	width: 1200px;
}

/* Layout */
.backside {
	width: 100%;
	clear: both;
}

.wrapper {
	margin: 0 auto;
	height: auto;
}




.clear {
	clear: both;
}


/* Header */
.header {
	background: #e3e3e3 url('img/header-bg.jpg') no-repeat center;
	height: 700px;
}

.logo {
	margin: 0 auto;
	width: 239px;
	padding-top: 114px;
}

.slogan {
	margin-top: 41px;
	margin-left: 4px;
}

.slogan p {
	text-align: center;
	font-size: 35px;
	font-family: Raleway;
	color: #3f3c3c;
	
}

.arrow {
	margin: 48px auto 0 auto;
	width: 30px;
	padding-right: 20px;
}



/* Feature block */

.feature-block {
	height: 496px;

}

.feature-column {
	width: 375px;
	height: 100%;
	position: relative;
	left: 37px;
	top: 2px;
}

.feature-middle-col {
	margin: 0 375px;
	height: 100%;
}

.feature-middle-col img {
	margin: -299px 0 0 -1px;
	
}

.service-item {
	width: 300px;
	margin: 56px auto 0 auto;
}



/* Get App block */
.get-app-block {
	width: 100%;
	margin: 0 auto;
	background: #e3e3e3;
	overflow: auto;
	height: 425px;
	

}



.get-app-block p {
	width: 550px;
	position: relative;
	top: 41px;
	left: 10px;

}

.get-app-block h3 {
	position: relative;
	top: 37px;
	left: 10px;
}

.get-app-column {
	width: 50%;
	height: 100%;
}

iframe {
	border-radius: 10px;
	position: relative;
	left: 89px;
	top: 59px;
}

.platform {
	width: 68px;
	height: 68px;
	float: left;
	margin-right: 20px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	left: 12px;
	top: 55px;
}

.apple {
	background-image: url('img/devices/apple.png');
}

.apple:hover {
	background-image: url('img/devices/apple-hover.png');
}

.android {
	background-image: url('img/devices/android.png');
}

.android:hover {
	background-image: url('img/devices/android-hover.png');
}

.windows {
	background-image: url('img/devices/windows.png');
}

.windows:hover {
	background-image: url('img/devices/windows-hover.png');
}

.citation {
	height: 163px;
}

	/* Faces */
.faces {
	background: #e3e3e3 url('img/faces-bg.jpg') no-repeat center;
	height: 318px;
	margin-right: 6px;
}

/* Get in touch*/
.get-in-touch {
	height: 240px;
}

.get-in-touch h2 {
	margin-top: 50px;
}

.socials-block {
	width: 304px;
	padding-left: 43px;
}

.sn {
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 11px;
	margin-top: 46px;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}

.sn.last {
	margin-right: 0;
}

.twitter {

	background-image: url('img/socials/twitter.png');
	position: relative;
	left: 3px;
}

.twitter:hover {

	background-image: url('img/socials/twitter-hover.png');
}

.facebook {

	background-image: url('img/socials/facebook.png');
	position: relative;
	left: 2px;
}

.facebook:hover {

	background-image: url('img/socials/facebook-hover.png');
}


.pinterest {

	background-image: url('img/socials/pinterest.png');
	position: relative;
	left: 1px;
}

.pinterest:hover {

	background-image: url('img/socials/pinterest-hover.png');
}

.gplus {

	background-image: url('img/socials/gplus.png');
}

.gplus:hover {

	background-image: url('img/socials/gplus-hover.png');
}

.in {

	background-image: url('img/socials/in.png');
	position: relative;
	right: 1px;
}

.in:hover {

	background-image: url('img/socials/in-hover.png');
}

.youtube {

	background-image: url('img/socials/youtube.png');
	position: relative;
	right: 2px;
}

.youtube:hover {

	background-image: url('img/socials/youtube-hover.png');
}

.get-in-touch h3 {
	position: relative;
	top: 40px;
}

.get-in-touch p {
	position: relative;
	top: 40px;
}


/* footer */

.footer {
	background-color: #e3e3e3;
	width: 100%;
	height: 134px;
	position: relative;
	top: 12px;
}

.link {
	text-decoration: none;
	color: grey;
	margin-left: 30px;
	font-family: Helvetica;
	position: relative;
	right: 27px;
	top: 57px;

}

.link.last {
	margin-left: 0;
}
.link:hover {
	color: black;
}